.main-form {
    padding: 50px 40px;
}

.main-form .main-title {
    margin-bottom: 50px;
}

.main-form .main-input {
    margin-bottom: 20px;
    border-radius: 1rem;
}

.main-form .main-input.-textarea {
    margin-bottom: 40px;
    border-radius: 1rem;
}