.main-title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 35px;
    color: #D0B642;
    text-shadow: 4px 4px 0 #000;
    padding-bottom: 25px;
}

.main-title.-second {
    color: #FFF;
    text-align: center;
    text-shadow: none;
}